<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Главная страница</title>
    </head>

    <body>
        <h3>Добро пожаловать!</h3>
        <a href="/info">Информация о разработчике</a>
        <br>
        <a href="/table">Статическая таблица умножения</a>
        <br>
        <a href="/sql">Динамическая таблица</a>
        <br>
        <a href="/forma">Регистрация</a>
        <br>
        <a href="/upload">Файлообменник</a>
        <br>
        <a href="/shorter">Сократитель ссылки</a>
    </body>
</html>