<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Информация о разработчике</title>
    </head>

    <body>
        <h3>Информация о разработчике</h3>
        <span>ФИО: Сайлаубаев Амир Русланович</span>
        <br>
        <br>
        <img src="/static/images/i.jpg" alt="Здесь должна была быть капибара">
        <ul>
            <li>Гуляю</li>
            <li>Может быть гуляю</li>
            <li>Опять гуляю</li>
            <li>Гуляю...</li>
            <li>И гуляю...</li>
            <li>Больше вам знать не дано</li>
        </ul>
        <a href="/">Главная страница</a>
    </body>
</html>