<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Сократитель ссылки</title>
    </head>

    <body>
        <h2>Сокращение ссылки</h2>
        <form action="/shorter" method="POST">
            <p>
                <label>Ссылка:</label>
                <br>
                <input type="text" name="url" />
            </p>
            <p>
                <input type="submit" value="Сократить"/>
            </p>
        </form>
        <br>
        <a href="/">Главная страница</a>
    </body>
</html>