<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Статическая таблица умножения</title>
    </head>

    <body>
        <table>
            <tr>
                <td>1</td>
                <td>x</td>
                <td>1</td>
                <td>=</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>x</td>
                <td>2</td>
                <td>=</td>
                <td>2</td>
            </tr>
            <tr>
                <td>1</td>
                <td>x</td>
                <td>3</td>
                <td>=</td>
                <td>3</td>
            </tr>
            <tr>
                <td>1</td>
                <td>x</td>
                <td>4</td>
                <td>=</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>x</td>
                <td>5</td>
                <td>=</td>
                <td>5</td>
            </tr>
            <tr>
                <td>1</td>
                <td>x</td>
                <td>6</td>
                <td>=</td>
                <td>6</td>
            </tr>
            <tr>
                <td>1</td>
                <td>x</td>
                <td>7</td>
                <td>=</td>
                <td>7</td>
            </tr>
            <tr>
                <td>1</td>
                <td>x</td>
                <td>8</td>
                <td>=</td>
                <td>8</td>
            </tr>
            <tr>
                <td>1</td>
                <td>x</td>
                <td>9</td>
                <td>=</td>
                <td>9</td>
            </tr>
            <tr>
                <td>1</td>
                <td>x</td>
                <td>10</td>
                <td>=</td>
                <td>10</td>
            </tr>
        </table>
        <br>
        <a href="/">Главная страница</a>
    </body>
</html>